[Unit]
Description=WSL environment service
After=sshd.service

[Service]
Type=simple
ExecStart=/usr/bin/bash /opt/site-lisp/init/wsl-service.sh 2>&1 > /dev/null

[Install]
